.wordie-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000000091;
    right: 0;
    color: #202020;
    font-family: Verdana, Arial, sans-serif;
}

.wordie-sidebar .wordie-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    z-index: 5005;
    width: 250px;
    overflow-y: scroll;
}

.wordie-sidebar.closed {
    margin-right: -250px;
}

.wordie-sidebar.open {
    margin-right: 0px;
}

.wordie-sidebar .wordie-header {
    margin: 0;
    padding: 16px 20px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.wordie-sidebar .wordie-toggle {
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 250px;
    background-color: #E3E3E3;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 47%;
    background-size: 15px;
    width: 11px;
}

.wordie-sidebar .wordie-toggle:hover {
    background-color: #C6C6C6;
}

.wordie-spinner {
    position: absolute;
    bottom: 0px;
    top: 0px;
    background-repeat: no-repeat;
    width: 250px;
    background-size: 31px;
    background-position: 50% 47%;
    background-image: url("chrome-extension://__MSG_@@extension_id__/img/spinner.gif");
}

.wordie-message {
    padding: 10px;
}

.wordie-message, .wordie-definitions-list {
    font-size: 14px;
    padding: 7px;
}

.wordie-message.error {
    color: #A10000;
}

.wordie-word {
    margin: 0;
    padding: 8px 0 5px 0;
    text-transform: uppercase;
    font-family: "PT Sans Caption", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.wordie-spelling {
    padding: 2px 0 2px 0;
    font-size: 14px;
    text-align: center;
    color: #A0A0A0;
}

.wordie-definition-entries {
    font-size: 14px;
}

ul.wordie-definition-entries, li.wordie-definition-entry {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

li.wordie-definition-entry {
    text-align: left;
    padding: 0px 0px 8px 10px;
    line-height: 1.3em;
}

.wordie-definition-entry dt {
    line-height: 1.3em;
    font-weight: normal;
    float: none;
    clear: none;
}

.wordie-definition-entry dt:after {
    content: "";
}

li.wordie-definition-entry vi:before {
  content: " <";
}

li.wordie-definition-entry vi:after {
  content: "> ";
}

li.wordie-definition-entry un {
  display: block;
}

li.wordie-definition-entry sx:not(:last-child):after {
  content: " ";
}
