.wordie-sidebar {
    all: initial;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000000091;
    right: 0;
    color: #202020;
    font-family: Verdana, Arial, sans-serif;
}

.wordie-sidebar .wordie-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    z-index: 5005;
    width: 250px;
    overflow-y: scroll;
}

.wordie-sidebar.closed {
    margin-right: -250px;
}

.wordie-sidebar.open {
    margin-right: 0px;
}

.wordie-sidebar .wordie-header {
    margin: 0;
    padding: 16px 20px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.wordie-sidebar .wordie-toggle {
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 250px;
    background-color: #E3E3E3;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 47%;
    background-size: 15px;
    width: 11px;
}

.wordie-sidebar .wordie-toggle:hover {
    background-color: #C6C6C6;
}

.wordie-spinner {
    position: absolute;
    bottom: 0px;
    top: 0px;
    background-repeat: no-repeat;
    width: 250px;
    background-size: 31px;
    background-position: 50% 47%;
    background-image: url("chrome-extension://__MSG_@@extension_id__/img/spinner.gif");
}

.wordie-message {
    padding: 10px;
}

.wordie-message, .wordie-definitions-list {
    font-size: 12px;
    padding: 7px;
}

.wordie-message.error {
    color: #A10000;
}

.wordie-word {
    margin: 0;
    padding: 8px 0 5px 0;
    text-transform: uppercase;
    font-family: "PT Sans Caption", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.wordie-spelling {
    padding: 2px 0 2px 0;
    font-size: 14px;
    text-align: center;
    color: #A0A0A0;
}

.wordie-definition-entries {
    font-size: 12px;
}

ul.wordie-definition-entries, li.wordie-definition-entry {
    all: initial;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

li.wordie-definition-entry {
    text-align: left;
    padding: 0px 0px 8px 10px;
    line-height: 1.3em;
}

.wordie-definition-entry dt, .wordie-definition-entry vi, .wordie-definition-entry syn, .wordie-definition-entry rel {
    line-height: 1.3em;
    font-weight: normal;
    float: none;
    clear: none;
}

.wordie-definition-entry dt:after {
    content: "";
}

li.wordie-definition-entry vi:before {
    content: " <";
}

li.wordie-definition-entry vi:after {
    content: "> ";
}

li.wordie-definition-entry un, li.wordie-definition-entry syn, li.wordie-definition-entry rel {
    padding-top: 8px;
    display: block;
}

li.wordie-definition-entry rel:before {
    content: "related: ";
    display: block;
    font-weight: bold;
    padding-bottom: 4px;
    color: #303033;
}

li.wordie-definition-entry syn:before {
    content: "synonyms: ";
    display: block;
    font-weight: bold;
    padding-bottom: 4px;
    color: #303033;
}

li.wordie-definition-entry sn {
  font-weight: bold;
}

li.wordie-definition-entry it {
  color: #A00000;
}

li.wordie-definition-entry sx:not(:last-child):after, li.wordie-definition-entry sn:after {
  content: " ";
}

.wordie-tab-panel {
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #d0d0d0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wordie-tab-panel .wordie-tab {
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}

.wordie-tab-panel .wordie-tab.active {
    background-color: #454545;
    color: #FFFFFF;
}

.wordie-tab-panel .wordie-tab:hover {
    background-color: #808080;
    color: #FFFFFF;
}
